<%- include('partials/header') %>


<div class="container">
    <div class="row">
        <h1><%= foundCampground.name %></h1>
        <img src="<%= foundCampground.image %>" alt="">
        <p><%= foundCampground.description %></p>  
    </div>
</div>



<%- include('partials/footer') %>